html, body {
	position: relative;
	width: 100%;
    height: 100%;
    
    font-family: 'Lexend Mega',sans-serif;
    font-size: 12px;
  
    background: 
    	radial-gradient(circle at top right, black 59%,aqua 9%),
    	
    	radial-gradient(circle, rgba(23,100,70,0.9),rgba(143,120,210,0.1));
    	
    background-color: black;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;

    	
}


html, body:focus-within {
	position: relative;
	width: 100%;
    height: 100%;
    
    font-family: 'Lexend Mega',sans-serif;
    font-size: 12px;
  
    background: 
    	radial-gradient(circle at top right, rgba(255,255,255,0.5) 59%,rgba(150,150,150,0.5) 9%);
    	background:
    	radial-gradient(circle, rgba(23,100,70,0.9),rgba(143,120,210,0.1));
    	
    background-color: black;
    transition-timing-function:ease;
    transition-duration: 3s;

    	
}



ion-img{
    width:45px;
}
ion-toolbar {
border-bottom:1px solid rgb(84, 225, 180);
box-shadow: 0px 5px 20px rgb(84, 225, 180);
background-image: linear-gradient(#333 10%,#0009 100%, teal 99%);
background:radial-gradient(circle closest, transparent, aqua);
}
h2 {
	text-shadow: 2px 2px 6px black;
	color:rgb(23, 27, 31);
}
ion-label {

		font-family: 'Lexend Mega', sans-serif;
		color: radial-gradient(circle at top right, white 50%,black);
		text-shadow:2px 2px 4px teal;
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 500;
	
}

ion-card {
   background: rgb(20,6,84);
background: radial-gradient(circle at top right, rgba(20,6,84,1) 24%, rgba(0,0,0,1) 41%, rgba(0,29,21,1) 66%, aqua 99%) ;
    font-family: 'Raleway',sans-serif;
    font-size:22px;
    color:rgb(217, 240, 236);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30%;

    border:3px rgb(75, 77, 85);
	border-style: ridge;
    box-shadow: 0px 10px 15px black;
	padding-left: 5px;
	padding-right:5px;
	padding-top:15%;
	padding-bottom:15%;
	margin:left 20% right 20%;
	transition: cubic-bezier(0.5,3,.02,.01);
	transition-duration: .5s;
   
}

ion-card:focus-within {
    background:rgb(23, 27, 31);
    font-family: 'Raleway',sans-serif;
    font-size:22px;
    color:rgb(217, 240, 236);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    border:3px rgb(75, 77, 85);
	border-style: ridge;
    box-shadow: 0px 15px 30px orange;
	
	margin:left 20% right 20%;
	padding-left: 5px;
	padding-right:5px;
	padding:15px;
	transition-duration: .5s;
   
}

body {
	color: rgb(141, 20, 20);
	margin: 0;
	padding: 8px;
    box-sizing: border-box;
    font-family: 'Tangerine', serif;
    font-size:180px;
   
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

ion-input {
    border:1px solid grey;
 border-radius:15px;
 padding:10px;
 box-shadow:0 -5px 5px black;
 transition-duration: 1.5s;
    
    
}
ion-input:focus-within {
    border:1px solid  orange;
 border-radius:15px;
 padding:10px;
 padding-top:15px;
 padding-bottom:15px;
 transition-duration: .5s;
 box-shadow:0 0px 0px black;
    
    
}
button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
i